
#sabor1 {
    text-align: center;  /* Centra el texto */
    font-family: Arial, sans-serif; /* Fuente */
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center; /* Centra los textos horizontalmente */
    justify-content: center; /* Centra los textos verticalmente */
    height: 50vh; /* Ocupar toda la altura de la pantalla */
}

#sabor1 h1 {
    margin: 0; /* Elimina márgenes */
    font-size: 2.5rem; /* Ajusta el tamaño */
    line-height: 1.2; /* Espaciado entre líneas */
    font-weight: bold;
}

#sabor1 h1:nth-child(2) span {
    color: #F83D8E; /* Color especial para "Sabores" */
}
